<app-layout>
  <div>
   <input type="text" [(ngModel)]="searchtext" placeholder="Search">
<div>
  <table>
    <thead>
      <tr>
    
        <th [class.active]="order === 'Name'"
            (click)="setOrder('Name')">
          Name <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </th>
        <th [class.active]="order === 'Email'"
            (click)="setOrder('Email')">
            Email <span [hidden]="reverse">▼</span>
          <span [hidden]="!reverse">▲</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of users | filter:searchtext | 
      orderBy: order:reverse:'case-insensitive'
      | paginate: { itemsPerPage: pageCount, currentPage: p }">
        <td>{{ row.Name }}</td>
        <td>{{ row.Email }}</td>
      </tr>
      </tbody>
    </table>
     <li *ngIf="(users | filter: searchtext)?.length === 0">No matching elements</li>
  </div>
   <pagination-controls  (pageChange)="p = $event"></pagination-controls>

  </div>
</app-layout>
